@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Project_PRN211_TEAM7.Models.CartItem>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <head>
   <title>Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">
    
  </head>

@section breadcrum{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
            </div>
        </div>
    </div>
}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" asp-controller="ShoppingCart" asp-action="SuaSoLuong" method="get">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-remove">Total</th>
                                <th class="product-total">Size</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td class="product-thumbnail">
                                        <img  src="~/images/@item.Image" alt="@item.ProductName" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">@item.ProductName</h2>
                                    </td>
                                    <td>@item.Price</td>
                                    <td>

                                       @* update so luong*@
                                        <div>
                                    <input type="hidden" name="productid" value="@item.ProductId" />
                                    <input type="number" min="1" step="1" name="soluongmoi" value="@item.Quantity" />
                                        </div>

                                    </td>
                                    <td>@item.ThanhTien</td>
                                    <td> size: @item.Size</td>
                                    <td>
                                        <a as asp-route="removecart" asp-route-productid="@item.ProductId"
                                          class="btn btn-danger">Xóa</a>
                                        </td>
                                </tr>
                            }

                        </tbody>
                        
                    </table>
                     <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Update Cart</button>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Shop" asp-controller="Product" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                    </div>
                </div>
            </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>
                       
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.') $</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a asp-controller="ShoppingCart" asp-action="CheckOut" class="btn btn-primary btn-lg py-3 btn-block">Proceed To Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>